version: "3.9"

services:
  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-network

  backend:
    build: ./backend
    container_name: flask_backend
    env_file:
      - ./env/.env.staging
    depends_on:
      - db
    ports:
      - "5000:5000"
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: nginx_frontend
    depends_on:
      - backend
    ports:
      - "8080:80"
    networks:
      - app-network

volumes:
  db-data:

networks:
  app-network:
    driver: bridge
