name: CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-test-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build backend image
        run: docker build -t backend:latest backend

      - name: Run unit tests
        run: docker run backend:latest pytest

      - name: Trivy Security Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: backend:latest